<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adoptapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/finallogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/finallogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MatchesActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ChooseLoginRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".RegistrationAnimalActivity" />
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>